body {
  max-width: 600px; /* this bit of code centers horizontally and ensures that */
  margin: 0 auto;   /* our boxes are of a manageable size. */
}

.one {
  background: pink;
  border: 3px solid blue;
  padding: 30px 0px 40px 40px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin-bottom: 50px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 30px;
  margin-left: 334px;
}